<h2>Create your celebrity!</h2>

<form action="/celebrities/create" method="POST">
    <div class="mb-3">
        <label for="name">Name</label>
        <input type="text" value="" name="name" class="form-control">
    </div>
    <div class="mb-3">
        <label for="occupation">Occupation</label>
        <input type="text" value="" name="occupation" class="form-control">
    </div>
    <div class="mb-3">
        <label for="catchPhrase">Catch Phrase</label>
        <input type="text" value="" name="catchPhrase" class="form-control">
    </div>

    <button class="btn btn-primary">Add celebrity</button>



</form>