<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
<nav id='menu'>
  <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
  <ul>
    <li><a href='/'>Home</a></li>
    <li><a class='dropdown-arrow' href="/celebrities">All celebrities</a>
      <ul class='sub-menus'>
        <li><a href="/celebrities/create">Create your celebrity</a></li>
      </ul>
    </li>
    <li><a class='dropdown-arrow' href="/movies">All movies</a>
      <ul class='sub-menus'>
        <li><a href="/movies/create">Create your movie!</a></li>
      </ul>
    </li>
  </ul>
</nav>
    <div class="container">
      {{{body}}}
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>